entrypoint = "drrolandbot_voice.py"
run = "python3 drrolandbot_voice.py"
language = "python3"
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["gunicorn", "--bind", "0.0.0.0:5000", "drrolandbot_voice:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

